<div class="face-recog">
  <div class="video-container" [ngStyle]="{'filter': clicked ? 'blur(3px)' : 'none'}">
    <video #video
      [width]="WIDTH"
      [height]="HEIGHT"
      autoplay
      muted>
    </video>
    <div #canvas></div>
    <div *ngIf="clicked" class="lds-dual-ring"></div>
    <div *ngIf="pay" class="success">
      Оплачено успешно
    </div>
  </div>
  <button *ngIf="!pay" class="button button1" (click)="handleSubmit()">Оплатить</button>
  <button class="back-button" (click)="handleBack()">Назад</button>
</div>
