.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  width: 300px;
  margin-left: 30px;
  margin-top: 25px;
}

.button1 {
  background-color: #27AE60;
  color: white;
  border: 2px solid #27AE60;
}

.face-recog {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  border: none;
  color: darkslategray;
  background: none;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.success-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.success-icon {
  width: 40px;
}

.success {
  color: #27AE60;
  font-weight: 500;
  font-size: 30px;
  margin-left: 20px;
}

.video-container {
  width: 100%;
  position: relative;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  top: 95px;
  left: 160px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
