.tenge {
  margin-left: 10px;
  margin-top: 4px;
}

.pay {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  margin-top: 50px !important;
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  width: 300px;
  margin-left: -20px;
}

.button1 {
  background-color: #27AE60;
  color: white;
  border: 2px solid #27AE60;
}

.pay-div {
  display: flex;
  align-items: center;
}

input[type=text] {
  width: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  color: darkgreen;
  text-align: center;
}

input[type=text]:focus {
  border: 3px solid #27AE60;
}
